// 全局变量

$app-wrapper-width:1170px;

$app-fs-main:14px;

$app-fc-main:#404040;

$app-color-theme:#278ff0;
$app-color-theme-light:#eff9fd;

$app-color-theme-bg-dark:#f5f5f5;

$app-bc-main:#e5e5e5;

$app-bs-base:0 2px 4px rgba(0, 0, 0, 0.12) !default;
$app-bs-light:0 2px 4px rgba(0, 0, 0, 0.04) !default;

$app-br-none:none !default;
$app-br-small:2px !default;
$app-br-big:4px !default;
